[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "psycModel"]
	path = psycModel
	url = https://github.com/jasonmoy28/psycmodel
	shallow = true
	registered = true
